<script type = "text/javascript">
  function Redirect() {
     window.location.href = "/offers";
  }
</script> 
<!--Home Page Content-->
<body>
    <main class="container" style="height: 530px;">
      <div class="jumbotron" style="background-color:white;">
        <img src="Assets/images/offer2.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 100%;" onclick="Redirect()"/>
        <hr class="my-4"><h1 style="font-family: cursive; text-align: center; ">Shop Now!</h1>
              <a class="btn btn-primary btn-lg" href="\men" role="button">Men</a>
              <a class="btn btn-primary btn-lg" href="\women" role="button">Women</a>
              <a class="btn btn-primary btn-lg" href="\kids" role="button">Kids</a>
              <a class="btn btn-primary btn-lg" href="\offers" role="button">Offers</a>
      </div>
    </main>
  </body>