<!--About Me Page Content-->
<body  background="Assets/images/background.jpg">
    <main class="container-fluid" style="height: 530px;">
        <div class="container">
            <!--title-->
            <h1 class="display-6">Men</h1>
            <!--contents-->
            <div class="row">
                <div class="col">
                    <div class="card h-100">
                        <img src="Assets/images/men1.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Huetrap</h5>
                            <p class="card-text"> Men Beige & Black Printed Round Neck T-shirt</p>
                            <a href="#" class="btn btn-primary">WishList</a>  
                            <a href="#" class="btn btn-info">Bag</a>                            
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="Assets/images/men2.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">HERE&NOW</h5>
                            <p class="card-text"> Men Black Printed Round Neck T-shirt</p>
                            <a href="#" class="btn btn-primary">WishList</a>  
                            <a href="#" class="btn btn-info">Bag</a>                            
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="Assets/images/men3.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Nautica</h5>
                            <p class="card-text">Men White Solid Blue Sail Polo Collar T-shirt</p>
                            <a href="#" class="btn btn-primary">WishList</a>  
                            <a href="#" class="btn btn-info">Bag</a>                            
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </main>
</body>