<!--About Me Page Content-->
<body>
    <main class="container">
        <div class="jumbotron" style="background-color: white;">
                <table align="center">
                <tr>
                    <td style="width: 200px;"><img src="Assets/images/offers1.jpg" width="100%"></td>
                    <td style="width: 200px;"><img src="Assets/images/offers2.jpg" width="100%"></td>
                    <td style="width: 200px;"><img src="Assets/images/offers3.jpg" width="100%"></td>
                </tr>
                <tr>
                    <td style="width: 200px;"><img src="Assets/images/offers4.jpg"  width="100%"></td>
                    <td style="width: 200px;"><img src="Assets/images/offers5.jpg" width="100%"></td>
                    <td style="width: 200px;"><img src="Assets/images/offers6.jpg" width="100%"></td>
                </tr>
                </table>
        </div>
    </main>
</body>