<!--woman Me Page Content-->
<body  background="Assets/images/background.jpg">
    <main class="container-fluid" style="height: 530px;">
        <div class="container">
            <!--title-->
            <h1 class="display-6">Women</h1>
            <!--contents-->
            <div class="row">
                <div class="col">
                    <div class="card h-100">
                        <img src="Assets/images/women1.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Antheaa</h5>
                            <p class="card-text">Women Black & Rust Orange Floral Print Tiered Midi Fit & Flare Dress with Ruffles</p>
                            <a href="#" class="btn btn-primary">WishList</a>  
                            <a href="#" class="btn btn-info">Bag</a>                            
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="Assets/images/women2.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Harpa</h5>
                            <p class="card-text"> Women Green Solid Accordion Pleated A-Line Dress</p>
                            <a href="#" class="btn btn-primary">WishList</a>  
                            <a href="#" class="btn btn-info">Bag</a>                            
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="Assets/images/women3.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">SASSAFRAS</h5>
                            <p class="card-text">Women Black & Pink Printed Wrap Dress</p>
                            <a href="#" class="btn btn-primary">WishList</a>  
                            <a href="#" class="btn btn-info">Bag</a>                            
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </main>
</body>